body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lavenderblush;
}

.container {
    background-color:palegreen;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.1);
    text-align: center;
}

.captcha-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#captcha {
    font-size: 24px;
    margin-right: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(71, 55, 192);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(76, 217, 206, 0.914);
    color:black;
    border: 5px;
}
